.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  background-color: #329cb4;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav {
  margin: 0 !important;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  margin: 0 !important;
  border: none !important;
  color: white !important;
  background: transparent;
}
.ant-tabs-tab .anticon {
  margin-right: 0 !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #3db9d3 !important;
  color: #3db9d3 !important;
  background: #3db9d3 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  font-weight: 500;
}
